@import "tailwindcss";

/* Base Typography - Montserrat from Figma */
/* Global font settings for all elements */
*,
*::before,
*::after {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0px;
}

/* Apply to all text elements */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
a,
label,
input,
button,
textarea,
select,
li,
td,
th {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0px;
}
